# 1.find out the datatype of the given variable A = 4

# 2. print the datatype of given variable and convert its datatype into float and int A  = "5678"

# 3. Create an empty List

# 4. create a list with items of datatypes (int,float ans string)

# 5. create 3 variables and assign the values for that variables using commas( , )